.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  height: 100px;
  width: 100%;
  background-image: url('image.png');
}

.image-banner {
  filter: brightness(50%);
}
.banner h1 {
  color: white;
  font-size: 60px;
  text-shadow: black;
}

.banner p {
  color: white;
  font-size: 40px;
  text-shadow: black;
}

.container {
  width: 900px;
  margin: auto;
}
